<!DOCTYPE html>
<html>
<head>
  <title>Guides</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
hola
<% end %>
<%= yield %>

</body>
</html>
